:root {
  --bg-color: #f8f9fa;
  --prime-color: #1f2939;
  --header-bg: #f0f3f7;
  --border-color: #e0e5eb;
  --gray-color: #697180;
  --thumb-color: #5e6674;
  --track-color: #f8f9fa;
  --white-color: #fff;
}
